#Ignore input binaries
/input/*
!/input/*.*
!/input/*/
/input/synthetic/*
!/input/synthetic/*.*
!/input/synthetic/*/
/input/synthetic/src/*
!/input/synthetic/src/*.*
!/input/synthetic/src/*/
!/input/synthetic/idealCFAs/*

#Other ignores
/logs/
/Jakstab/bin/
mcore_*/
*__pycache__/
*.vscode/
*.idea/
*.o
*.dot
*_jak.asm
*.pdf
*.swp
*.png
*.dat
!/input/synthetic/idealCFAs/*.dot
!/input/GNUCoreutils/idealCFAs/*.dot
!/results/**/*


#IDA output
*.i64
*.nam
*.til
*.id0
*.id1
