#Ignore input binaries
/Input/*
!/Input/*.*
!/Input/*/
/Input/Synthetic/Small/*
!/Input/Synthetic/Small/*.*
!/Input/Synthetic/Small/*/
/Input/Synthetic/Small/DSEDebug/*
!/Input/Synthetic/Small/DSEDebug/*.*
/Input/Synthetic/Small/Intervals/*
!/Input/Synthetic/Small/Intervals/*.*
/Input/Synthetic/Medium/*
!/Input/Synthetic/Medium/*.*

#Other ignores
/logs/
/Jakstab/bin/
mcore_*/
/SE/x86
*__pycache__/
*.vscode/
*.idea/
*.o
*.dot
*_jak.asm
*.pdf
*.swp
*.png
*.dat
!/Input/IdealCFAs/*.dot
!/Input/Real/linuxCommandsStatic/idealCFAs/*.dot
!/results/**/*

#IDA output
*.i64
*.nam
*.til
*.id0
*.id1
