#Ignore input binaries
/input/*
!/input/*.*
!/input/*/
/input/Synthetic/Small/*
!/input/Synthetic/Small/*.*
!/input/Synthetic/Small/*/
/input/Synthetic/Small/DSEDebug/*
!/input/Synthetic/Small/DSEDebug/*.*
/input/Synthetic/Small/Intervals/*
!/input/Synthetic/Small/Intervals/*.*
/input/Synthetic/Medium/*
!/input/Synthetic/Medium/*.*

#Other ignores
/Jakstab/bin/
mcore_*/
/SE/x86
*__pycache__/
*.i64
*.o
*.idea/
*.dot
*_jak.asm
*.pdf
*.swp
*.png

